body {
  background: url(../assets/Images/background/background_4.jpeg) no-repeat
    center center;
  background-size: cover;
  display: block;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% solid;
  border: 2px solid #00153081;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  background-color: #0058db34;
  position: relative;
  z-index: 1;
}

main div.galeria {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  overflow-x: scroll;
}

main div.galeria div.single-galeria {
  position: relative;
  width: 10%;
  height: 90%;
  margin: 0 5px;
  transition: width 1s;
  border: 3px solid #ffd45c5b;
  border-radius: 5px;
}

main div.galeria div.single-galeria:first-child {
  width: 45% !important;
}

main div.galeria div.single-galeria:hover {
  width: 45%;
}

main div.galeria:hover div.single-galeria:first-child {
  width: 10% !important;
  
}

main div.galeria div.single-galeria:hover:first-child {
  width: 45% !important;
}

main div.galeria div.single-galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main div.galeria div.single-galeria div.info {
  position: absolute;
  width: 95%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 65%, transparent);
  padding: 1% 4%;
  bottom: 0;
  overflow: hidden;
  visibility: hidden;
}

main div.galeria div.single-galeria:hover div.info {
  visibility: visible;
}

main div.galeria div.single-galeria:first-child div.info {
  visibility: visible;
}

main div.galeria:hover div.single-galeria:first-child div.info {
  visibility: hidden;
}

main div.galeria div.single-galeria:hover:first-child div.info {
  visibility: visible;
}

main div.galeria div.single-galeria div.info h1 {
  font-size: 26px;
  color: #ffffff;
}

main div.galeria div.single-galeria div.info p {
  font-size: 18px;
  color: #ffffff;
}

main div.galeria div.single-galeria div.info a {
  font-size: 18px;
  color: #e77000;
  text-decoration: none;
}

main div.galeria div.single-galeria div.info a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) and (max-width: 1279px) {
  main div.galeria {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
  }

  main div.galeria div.single-galeria {
    position: relative;
    min-width: 90% !important;
    height: 120%;
    margin: 0 5px;
    transition: width 1s;
  }
}

@media screen and (max-width: 764px) {
  main div.galeria {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
  }

  main div.galeria div.single-galeria {
    position: relative;
    min-width: 90% !important;
    height: 60%;
    margin: 0 5px;
    transition: width 1s;
  }
}
