/* Para telas de 1920x1080 */
@media (min-width: 1920px) {
  body {
    font-size: 22px;
  }
  .container {
    padding-inline: 80px;
  }
}

/* Para telas de 1366x768 */
@media (min-width: 1366px) and (max-width: 1919px) {
  body {
    font-size: 18px;
  }
  .container {
    padding-inline: 60px;
  }
  .container input {
    padding-inline: 70px;
  }
}

/* Para tablets com 768x1024 */
@media (min-width: 768px) and (max-width: 1365px) {
  body {
    font-size: 16px;
  }
  .container {
    padding-inline: 40px;
    margin-top: 5vh;
    margin-inline: 5vw;
    margin-block: 15vh;
  }

  .container input {
    padding-inline: 50px;
  }
}

/* Para dispositivos móveis 360x720 */
@media (max-width: 767px) {
  body {
    font-size: 14px;
    display: block;
  }
  .container {
    padding-inline: 20px;
    margin-top: 5vh;
    margin-inline: 5vw;
    margin-block: 15vh;
  }
  .container input {
    padding-inline: 20px;
    max-width: 100%;
  }
}

body {
  background: url(../assets/Images/background_1.jpeg) no-repeat;
  background-size: cover;
  background-clip: padding-box;
  background-position: center;
  font-family: "Poppins";
  font-size: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.container {
  background: #00294c2c;
  padding-inline: 60px;
  height: 70vh;
  border: 2px solid #1f3b53;
  border-radius: 15px;
  margin: 10px;
  margin-top: 10vh;
  padding-block: 5vh;
  margin-block: 10vh;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.container input {
  margin: 5px;
  border: 2px solid #1f3b53;
  border-radius: 15px;
  background-color: #e9740d80;
  text-align: center;
  padding-inline: 20vw;
  max-width: 20vw;
  box-shadow: 0px 3px 2px rgba(192, 192, 192, 0.575);
  position: relative;
  cursor: pointer;
}

.container input:hover {
  background-color: #924400a6;
}

.container #nome,
#email,
#senha {
  padding-block: 4px;
}

.container p {
  font-family: "Poppins";
  font-size: 20px;
  color: #e1e1e1;
  text-shadow: 1px 1px 0px #7c7c7c, -1px 1px 0px #7c7c7c, 1px -1px 0px #7c7c7c,
    -1px -1px 0px #7c7c7c;
}

.container #submit {
  font-family: "Oswald";
}

.cadastro::-webkit-input-placeholder {
  color: #FFFFFF;
  font-style: bold;
  font-size: 20px;
  padding: 20px;
  font-family: 'Lora';
} 

form select {
  cursor: pointer;
  background-color: grey;
  color: white;
  border-radius: 10px;
}

details {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 3px;
  position: relative;
  cursor: pointer;
}

details [open] .content {
  max-height: 500px;
  transition: max-height 0.5s ease-in-out;
}

#submit {
  color: rgb(255, 255, 255);
  font-style: bold;
  font-size: 15px;
  padding: 10px;
  padding-inline: 50%;
    }