body {
  background: url(../assets/Images/background/background_2.jpg) no-repeat center fixed;
  background-size: cover;
  width: 100%;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: rgba(255, 174, 0, 0.356);
  height: 36vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.banner-perfil {
  position: absolute;
  width: 10vw;
  height: 100vh;
  z-index: 1;
}

.banner-perfil img {
  width: 80vw;
  height: 35vh;
  margin: 0 auto;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.perfil-img {
  z-index: 2;
}

.perfil-img img {
  height: 30vh;
  margin: 20px;
  border: 5px solid #003f91;
  border-radius: 15px;
}

.nickname {
  margin-left: 50vw;
  position: absolute;
  margin-top: 9rem;
  color: #ffffff;
  text-shadow: 1px 1px 0px #7c7c7c, -1px 1px 0px #7c7c7c, 1px -1px 0px #7c7c7c,
    -1px -1px 0px #7c7c7c;
  left: 18vw;
  top: 10vh;
  font-size: 50px;
  z-index: 2;
}

.nickname::after {
  content: "";
  display: block;
  width: 15rem;
  height: 0.3rem;
  top: 70px;
  background-color: #ff7f0f;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}


.conteudo {
  flex-grow: 1;
  margin-block: 5px;
  width: 100%;
  background-color: rgba(0, 136, 255, 0.356);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 15px;
}

.principal-info {
  height: 455px;
  background: #e05a00a8;
  border-radius: 10px;
  border: 3px solid #ffffff;
  font-weight: 500;
  font-size: 28px;
  box-shadow: #00000094 -3px 3px 3px;
  color: #ffffff;
}

.gols {
  height: 220px;
  background: #e05a00a8;
  border-radius: 10px;
  border: 3px solid #ffffff;
  font-weight: 500;
  font-size: 50px;
  box-shadow: #00000094 -3px 3px 3px;
  color: #ffffff;
  text-align: center;
}

.victorys {
  height: 220px;
  background: #e05a00a8;
  border-radius: 10px;
  border: 3px solid #ffffff;
  font-weight: 500;
  font-size: 50px;
  box-shadow: #00000094 -3px 3px 3px;
  color: #ffffff;
  text-align: center;
}

.partidas-jogadas {
  height: 220px;
  background: #e05a00a8;
  border-radius: 10px;
  border: 3px solid #ffffff;
  font-weight: 500;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
  box-shadow: #00000094 -3px 3px 3px;
}

.rank {
  height: 220px;
  background: #e05a00a8;
  border-radius: 10px;
  border: 3px solid #ffffff;
  font-weight: 500;
  font-size: 50px;
  color: #ffffff;
  box-shadow: #00000094 -3px 3px 3px;
  text-align: center;
}

#btnEditProfile {
  padding-inline: 40px;
  display: flex;
}

h1 {
  color: #006eff;
  text-shadow: 1px 1px 1px #f7f7f7, -1px 1px 1px #ffffff, 1px -1px 1px #ffffff,
  -1px -1px 1px #ffffff;
}

h3 {
  color: #006eff;
  text-shadow: 1px 1px 1px #f7f7f7, -1px 1px 1px #ffffff, 1px -1px 1px #ffffff,
  -1px -1px 1px #ffffff;
}

@media (min-width: 1024px) and (max-width: 1300px) {


  .header {
    height: 26vh;
  }

  .banner-perfil img {
    width: 88vw;
    height: 25vh;
    margin: 0 auto;
  }

  .perfil-img img {
    height: 23vh;
    margin: 7px;
    border: 5px solid #003f91;
    border-radius: 15px;
  }

  .nickname {
    margin-top: 9rem;
    left: 15vw;
    top: 0vh;
    font-size: 50px;
  }

  .nickname::after {
    width: 13rem;
    top: 65px;
  }


  .conteudo {
    margin-block: 7px;
    height: 80vh;
  }

  .principal-info {
    height: 435px;
    font-weight: 500;
    font-size: 20px;
    width: 310px;
    margin-top: 10px;
    
  }

  .principal-info h3 {
    font-size: 23px;
  }

  .gols {
    height: 210px;
    width: 200px;
    font-size: 35px;
  }

  .victorys {
    height: 210px;
    width: 200px;
    font-size: 35px;
  }

  .partidas-jogadas {
    height: 210px;
    width: 200px;

    font-size: 35px;
  }

  .rank {
    height: 210px;
    width: 200px;
    font-size: 35px;
  }
}


/* Responsividade para dispositivos médios (tablets) */
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    width: 100%;
    background-size: cover;
  }

  .header {
    height: 26vh;
  }

  .banner-perfil img {
    width: 88vw;
    height: 25vh;
    margin: 0 auto;
  }

  .perfil-img img {
    height: 23vh;
    margin: 7px;
    border: 5px solid #003f91;
    border-radius: 15px;
  }

  .nickname {
    margin-top: 7rem;
    left: 20vw;
    top: 0vh;
    font-size: 25px;
  }

  .nickname::after {
    width: 9rem;
    top: 40px;
  }

  .conteudo {
    margin-block: 7px;
    width: 100%;
    height: 80vh;
  }

  .principal-info {
    height: 200px;
    font-weight: 500;
    font-size: 28px;
    margin-inline: 10px;
    width: 678px;
    margin-top: 10px;

  }

  .gols {
    height: 160px;
    width: 135px;
    margin-inline: 10px;
    margin-block: 10px;
    font-size: 30px;
  }

  .victorys {
    height: 160px;
    width: 145px;
    margin-inline: 10px;
    margin-block: 10px;
    font-size: 30px;
  }

  .partidas-jogadas {
    height: 160px;
    width: 145px;
    margin-inline: 10px;
    margin-block: 10px;
    font-size: 30px;
  }

  .rank {
    height: 160px;
    width: 135px;
    margin-inline: 10px;
    margin-block: 10px;
    font-size: 30px;
  }
}

/* Responsividade para dispositivos pequenos (celulares) */
@media (max-width: 767px) {
  body {
    width: 150%;
    background-size: cover;
    background-clip: padding-box;
  }

  .header {
    height: 26vh;
  }

  .banner-perfil img {
    width: 135vw;
    height: 25vh;
    margin: 0 auto;
  }

  .perfil-img img {
    height: 23vh;
    margin: 7px;
    border: 5px solid #003f91;
    border-radius: 15px;
  }

  .nickname {
    margin-top: 7rem;
    left: 30vw;
    top: 0vh;
    font-size: 25px;
  }

  .nickname::after {
    width: 10rem;
    top: 50px;
  }

  .conteudo {
    margin-block: 7px;
    width: 100%;
    height: 85vh;
  }

  .principal-info {
    height: 200px;
    font-weight: 500;
    font-size: 28px;
    margin-inline: 10px;
    width: 425px;

  }

  .gols {
    height: 160px;
    width: 200px;
    margin-inline: 10px;
    margin-block: 10px;
  }

  .victorys {
    height: 160px;
    width: 200px;
    margin-inline: 10px;
    margin-block: 10px;
  }

  .partidas-jogadas {
    height: 160px;
    width: 200px;
    margin-inline: 10px;
    margin-block: 10px;
  }

  .rank {
    height: 160px;
    width: 200px;
    margin-inline: 10px;
    margin-block: 10px;
  }
}
