@font-face {
    font-family: "Poppins";
    src: url(../assets/fonts/poppins/Poppins-Black.ttf) format('ttf');
}


body {
    background: url(../assets/Images/Background\ 3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    font-family:  "Poppins";
    font-size: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}



.container {
    background: rgba(43, 43, 43, 0.507);
    padding-inline: 60px;
    border: 2px solid rgba(0, 0, 0, 0.623);
    border-radius: 5px;
    margin: 10px;
    margin-top: 10vh;
}

.container input {
    background-color: transparent;
    margin: 5px;
    border: 2px solid rgb(238, 238, 238);
    border-radius: 10px;
    text-align: center;
    padding-inline: 90px;
    max-width: 100vh;
    box-shadow: 0px 3px 2px rgba(192, 192, 192, 0.575);
    position: relative;
}

p {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px;
}

details {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px;
    position: relative;
    cursor: pointer;
}

details [open] .content{
    max-height: 500px;
    transition: max-height 0.5s ease-in-out;

}

.content {
    max-height: 0;
    transition: max-heigth 0.5s ease-in-out;
}

form select {
    cursor: pointer;
    background-color: grey;
    color: white;
    border-radius: 10px;
}

#NameUser::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
    font-style: bold;
    font-size: 15px;
    padding : 20px;
}

#Yaer::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
    font-style: bold;
    font-size: 15px;
    padding : 20px;
}
#Sexo::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
    font-style: bold;
    font-size: 15px;
    padding : 20px;
}
#nome::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
    font-style: bold;
    font-size: 15px;
    padding : 20px;
}
#email::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
    font-style: bold;
    font-size: 15px;
    padding : 20px;
}
#senha::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
    font-style: bold;
    font-size: 15px;
    padding : 20px;
}
#submit {
    color: rgb(255, 255, 255);
    font-style: bold;
    font-size: 15px;
    padding : 20px;
    padding-inline: 50%;
}