body {
  background: url(../assets/Images/background/background_2.jpg) no-repeat
    center center;
  background-size: cover;
  background-clip: padding-box;
  width: 100%;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Poppins';
  color: #ffffff;
  text-shadow: 1px 1px 0px #7c7c7c, -1px 1px 0px #7c7c7c, 1px -1px 0px #7c7c7c,
    -1px -1px 0px #7c7c7c;
    letter-spacing: 0.2rem;
    z-index: 1;
}

.header-perfil {
  display: flex;
  flex-direction: column 5fr;
  flex-wrap: wrap;
  background: url(../assets/Images/banner_perfil/BANNER_TOTO_3.png) no-repeat
    center center;
  background-size: cover;
  width: 100vw;
  height: 40vh;
  max-height: 50vh;
  border-bottom: 3px solid #ffffff;
  border-top: 3px solid #ffffff;
}

.header-perfil .perfil-img {
  margin-right: 20vw;
  margin: 15px;
  margin-left: 7vw;
}

.header-perfil .perfil-img img {
  height: 35vh;
  border: 3px solid #e05a00;
  border-radius: 30px;
}

.header-perfil .info-nick {
  margin-left: 50vw;
  position: absolute;
  margin-top: 7rem;
  color: #ffffff;
  text-shadow: 1px 1px 0px #7c7c7c, -1px 1px 0px #7c7c7c, 1px -1px 0px #7c7c7c,
    -1px -1px 0px #7c7c7c;
    left: 15vw;
    top: 15vh;
  }

  .header-perfil .info-nick::after {
  content: "";
  display: block;
  width: 15rem;
  height: 0.3rem;
  top: 70px;
  background-color: #ff7f0f;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.main-container {
  background: #1f3b53c9; 
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  width: 98vw;
  height: 80vh;
  border-radius: 10px;
}

.data-group {
  text-align: left;
  text-indent: 10px;
  margin-left: 20px;
  width: 100%;
}

.data-group h3 {
  margin-left: 10px;
}


.container-box {
  height:200px;
  width: 350px;
  background: #e05a00a8;
  border-radius: 10px;
  border: 3px solid #ffffff;
  font-weight: 500;
  font-size: larger;
  box-shadow: #00000094 -3px 3px 3px;
  margin: 20px;
}

#info-player{
  flex-basis: 350px;
  height: 440px;
  position: relative;
  margin-left: 0px;
  font-size: 20px;
}



/* Para telas de 1366x768 */
@media (min-width: 1366px) and (max-width: 1919px) {

  .data {
    font-size: 50px;
  }

}

/* Responsividade para dispositivos médios (tablets) */
@media (min-width: 768px) and (max-width: 1365px) {

}

/* Responsividade para dispositivos pequenos (celulares) */
@media (max-width: 767px) {

  .main-container {
    width: 98vw;
    height: 100%;
  }

  .container-box {
    height: 100px;
    width: 300px;
  }

  #info-player{
    height: 300px;
    width: 300px;
    font-size: 20px;
  }
}
